/* Mulish webfont taken from: https://github.com/fontsource/fontsource/tree/main/packages/mulish */
@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 200 1000;
    src: url('https://github.com/onmax/nimiq-tailwindcss/blob/e76201e1c30f37bb24f877d81e150551bb30d607/fonts/mulish-variable-normal.woff2') format('woff2');
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
      U+FEFF, U+FFFD;
  }
  
  @font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 200 1000;
    src: url('https://github.com/onmax/nimiq-tailwindcss/blob/e76201e1c30f37bb24f877d81e150551bb30d607/fonts/mulish-variable-normal-extension.woff2')
      format('woff2');
    font-display: swap;
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
      U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  
  @font-face {
    font-family: 'Mulish';
    font-style: italic;
    font-weight: 200 1000;
    src: url('https://github.com/onmax/nimiq-tailwindcss/blob/e76201e1c30f37bb24f877d81e150551bb30d607/fonts/mulish-variable-italic.woff2') format('woff2');
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
      U+FEFF, U+FFFD;
  }
  
  @font-face {
    font-family: 'Mulish';
    font-style: italic;
    font-weight: 200 1000;
    src: url('https://github.com/onmax/nimiq-tailwindcss/blob/e76201e1c30f37bb24f877d81e150551bb30d607/fonts/mulish-variable-italic-extension.woff2')
      format('woff2');
    font-display: swap;
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
      U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  
  /* Fira Code webfont taken from: https://github.com/fontsource/fontsource/tree/main/packages/fira-code */
  @font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 300 700;
    src: url('https://github.com/onmax/nimiq-tailwindcss/blob/e76201e1c30f37bb24f877d81e150551bb30d607/fonts/fira-code-variable.woff2') format('woff2');
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
      U+FEFF, U+FFFD;
  }
  
  @font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 300 700;
    src: url('https://github.com/onmax/nimiq-tailwindcss/blob/e76201e1c30f37bb24f877d81e150551bb30d607/fonts/fira-code-variable-extension.woff2') format('woff2');
    font-display: swap;
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
      U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  